<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/elements :: fg-head}"></head>

<body>
	<nav th:insert="fragments/elements.html :: fg-header"></nav>
	<div class="container mt-2">
		<div class="card">
			<div class="card-header">
				<h2>
					<span th:text="#{sequences}+' : '+${sequence}+' '+#{canalid}+' : '+${pdmId}"></span>
					<span class="top-0 start-100 badge rounded-pill bg-warning"
						th:text="${datesNaturesValeurs.size()}"></span>
				</h2>

			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th rowspan="2" th:text="#{sequence}"></th>
							<th th:colspan="${natures.size()}" th:text="#{natures}"></th>
						</tr>
						<tr>
							<th:block th:each="p:${natures}">
								<td th:text="${p.getInfo()}"></td>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p:${datesNaturesValeurs}">
							<td><span th:text="${#dates.format(p.getKey())}"></span><span
									th:if="${!p.getValue().isComplete()}"
									class="badge rounded-pill bg-danger">Incomp.</span>
									<!--span
								th:text="${datesNaturesValeurs.lastEntry()}"
								class="badge rounded-pill bg-warning">En cours</span-->
							</td>
							<th:block th:each="r:${p.getValue().getMapNaturesDonnees()}">
								<td th:text="${r.getValue().getInfos()}"></td>
							</th:block>
							<!--td th:each="s:${p.getValue()}"><p
									th:text="${s.getKey()}"></p>
								<span th:if="${!s.isComplete()}"
								class="badge rounded-pill bg-danger">Incomp.</span> 
								<span
								th:if="${sequencesMap.lastEntry().getKey()==p.getKey()}"
								class="badge rounded-pill bg-warning">En cours</span>
								</td-->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>